* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #2c2c2c;
}

input[type=range] {
  width: 190px;
}

#container {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#working-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  flex-direction: row;
}

#canvas-container {
  display: flex;
  justify-content: center;
}

canvas {
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  background-color: #000000;
}

#tools-container {
  background-color: #9f9f9f;
  overflow: auto;
  width: 750px;
	height: 480px;
  border-radius: 10%;
  padding: 10px 0 0 10px;
}

#tools-container > div {
  margin: 0px 10px;
}

#hollow-object {
  display: flex;
  justify-content: center;
}

img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 5px solid #000;
  background-color: white;
  border-radius: 9%;
}

img:hover{
  background-color:#c3c3c3;
}

#project-and-shading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0;
}

#projection-tool {
  display: flex;
  gap: 10px;
  align-items: center;
}

#projection-tool > label{
  font-weight: bold;
  margin-right: 10px;
}

#color-tool {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

#shading-tool {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
}

#shading-tool > #shading {
  width: 20px;
  height: 20px;
}

#transformation-tool {
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-weight: bold;
}

#camera {
  font-weight: bold;
}

#camera-tool {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5%;
}

#user-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 5px 0;
}

#help, #reset {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
}

#help:hover, #reset:hover {
  background-color: #dd0000;
  color: white;
}

#help-container {
  display: none;
  margin-top : 20px;
}

#help-content {
  width: 700px;
  height: 700px;
  background-color: #9f9f9f;
  border: 5px solid #000;
  border-radius: 4%;
  padding: 20px;
}

#help-content li {
  font-size: 14px;
}

#close {
  float: right;
  cursor: pointer;
  font-size: 50px;
}

#close:hover {
  color: #dd0000;
}
